# Environment files
**/.env
**/.env.*
*.local


dist
dist-ssr
*.local

# Envs
.env
.env.*
*.env
*.local

Frontend/.env
Frontend/.env.*
Backend/.env
Backend/.env.*

# Node modules
Frontend/node_modules/
Backend/node_modules/

# Build
Frontend/dist/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
